

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6) 100%), url('https://source.unsplash.com/1920x1280/?nature');
    background-position: center;
    background-size: cover;
    opacity: 5;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

main{
    min-height: 70vh;
    min-width: 500px;
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 35px 55px;
}
form{
    background-color: #fff;
    margin-bottom: 35px;
    border-radius: 5px;
}
input{
    border-radius: 5px;
    border: none;
    outline: none;
    width: 200px;
    font-size: 18px;
    padding: 5px;
}
button{
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: #fff;
    transition: all 0.3s;
}
button:hover{
    background-color: red;
    color: #fff;
}
.place{
    font-size: 22px;
    margin-bottom: 35px;
}
.temp{
    font-size: 28px;
    margin-bottom: 55px;
    font-style: italic;
}
.fa-cloud{
    font-size: 55px;
}
.weather-type{
    margin-top: 35px;
}
.weather-type, .min, .max{
    font-size: 22px;
}
.min-max{
    display: flex;
    align-items: center;
    margin: 35px 0;
}