*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6) 100%), url('https://source.unsplash.com/1920x1280/?nature');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

main{
    width: 500px;
    height: 80vh;
}
.container{
    border-radius: 5px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.6);
}
form{
    background-color: #fff;
    margin-bottom: 25px;
    border-radius: 5px;
}
input{
    border-radius: 5px;
    width: 300px;
    font-size: 18px;
    padding: 10px;
    border: none;
    outline: none;
    height: 45px;
}
button{
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    border: none;
    outline: none;
    background-color: #fff;
    transition: all 0.3s;
}
button:hover{
    background-color: red;
    color: #fff;
}
.place{
    font-weight: bold;
    color: #fff;
    font-size: 26px;
    text-align: center;
    margin-bottom: 35px;
}
.celcius sup, .celcius strong{
    font-weight: bolder;
    font-size: 20px;
    color: #fff;
    font-style: italic;
}
.celcius{
    margin-bottom: 75px;
}
.fa-cloud{
    color: #fff;
    font-size: 48px;
    margin-bottom: 25px;
}
.weather-type, .min-max{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 35px;
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
